body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #2c2c2e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
